<%- include("header"); -%>

<div class="box" id="heading">
  <h1><%= pageHeading %></h1>
  <p><%= dayWeek %></p>
</div>

<div class="box">
  <% newListItem.forEach((singleItem) => { %>
  <form method="post" action="/delete">
    <div class="item">
      <input
        type="checkbox"
        name="check"
        value="<%= singleItem._id %>"
        onchange="this.form.submit()"
      />
      <p class="item"><%= singleItem.itemName %></p>
    </div>
    <input type="hidden" name="listName" value="<%= pageHeading  %>" />
  </form>
  <% }); %>

  <form action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="Add new item"
      autocomplete="off"
    />
    <button type="submit" name="heading" value="<%= pageHeading  %>">+</button>
  </form>

  <%- include("footer"); -%>
</div>
